<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="KAdamsGroomingStorePU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
	
	<!--	<openshift server ip address> : replace with openshift server ip address
			<openshift mysql username>    : replace with openshift mysql username
			<openshift mysql password>    : replace with openshift mysql password
			<database name> 			  : replace with name of database used										-->
	<properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://<openshift server ip address>:<port number>/<database name>?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.password" value="<openshift mysql password>"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="<openshift mysql username>"/>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
